:root {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: 100%;
	/*cursor: url(imagenes/cursor.png), auto;*/
	font-family: 'Bebas Neue', cursive;
}

/*------- header -----*/

header {
	width: 100%;
	height: 900px;
	display: inline-flex;
	overflow: hidden;
	background-image: url(imagenes/portadaHeader1.png);
	height: 100vh;
	background-size: cover;
}

nav {
	z-index: 20;
	display: inline-flex;
	position: absolute;
	width: 100%;
	height: 100px;
}

nav a {
	text-align: center;
	text-decoration: none;
	color: #a7a5b2;
	font-size: 20px;
	width: 100px;
	height: 60px;
	transition: 0.3s;
	padding: 20px;
}

a:hover {
	background-color: #a7a5b2;
	color: black;
}


.boton {
	clip-path: polygon(50% 64%, 100% 0, 50% 100%, 0 0);
	background-color:  #a7a5b2;
	margin: auto;
	width: 100px;
	height: 30px;
	z-index: 2;
	transition: 1s;
	animation-name: flecha;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.article {
	padding-left: 150px;
}

@keyframes flecha {
	0% {
		margin-top: 900px;
	}
	50% {
		margin-top: 950px;
	}
	100% {
		margin-top: 900px;
	}
}

@media screen and (max-width: 500px) {
	header {
		height: 550px;		
		background-image: url(imagenes/portadaHeaderMobile.png);
	}
	nav {
		padding-left: 19px;
		margin-left: 0;
	}
	nav a {
		font-size: 14px;
	}
	.boton {
		width: 60px !important;
		height: 20px !important;
		margin-left: 90px;
	}
	.article {
		padding-left: 0;
	}

	@keyframes flecha {
	0% {
		margin-top: 400px;
	}
	50% {
		margin-top: 450px;
	}
	100% {
		margin-top: 400px;
	}
}
}



/*------titulos H2-----*/

.titulo-contenido {
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	width: 100%;
	font-size: 40px;
	margin-top: 5%;
	margin-bottom: 2%;
	text-align: center;
}

h3 {
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	width: 100%;
	height: 50%;
	display: inline-flex;
	color: #868299;
	padding-left: 30px;
}

@media screen and (max-width: 500px) {
	.titulo-contenido {
		font-size: 20px;
		margin-top: 70px;
		margin-bottom: 50px;
	}
	h3 {
		padding-top: 90px;
		padding-left: 325px;
		font-size: 14px;
	}
}
/*------ listas guitarras ------*/

.tipos-guitarras {
	width: 100%;
	height: 100vh;
	flex-wrap: wrap;
	margin-top: 35px;
	z-index: 10;
}

.guitarra {
	background-position: center;
	display: inline-flex;
	min-width: 450px;
	height: 600px;
	justify-content: center;
	align-items: center;
}

.guitarra .img {	
	transform: rotate(30deg);
	position: absolute;
	width: 160px;
    transition: all 0.4s ease;
    z-index: 10;
}

.guitarra .img:hover {
	transform: rotate(0deg);
	width: 250px;
	filter: drop-shadow(15px 15px 20px #4d4d4d);
}

@media screen and (max-width: 500px) {
	.guitarra {
		min-width: 120px !important;
		height: 200px;
		background-color: white;
	}
	.guitarra .img {
		transform: rotate(45deg);
		width: 75px;
	}
	.guitarra .img:hover {
	transform: rotate(90deg);
	width: 100px;
	filter: drop-shadow(7px 7px 20px #4d4d4d);
}


}

.footer {
	width: 100%;
	position: relative;
	background-color: white;
	display: inline-flex;	
	justify-content: space-around;
	bottom: 0;
}

.footer h4 {
	font-family: 'Bebas Neue', cursive;
	height: 100%;
	width: 10%;
	transition: 0.3s;
	text-align: center;
	padding: 3px;
	color: #a7a5b2;
}

.footer h4:hover {
	color: black;
}

@media screen and (max-width: 500px) {
	footer h4 {
		font-size: 12px;
	}
}

